.wrapper {
    background-color: #ecf0f4;
    width: 100%;
    padding: 0 25px;
    height: calc(100vh - 61px);
    overflow: auto;
}

.container {
    width: 1220px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 24px;
}

.input-box {
    position: relative;
    padding: 14px;
    input {
        width: 100%;
        padding: 16px;
        border-radius: 4px;
        font-size: 1.5rem;
        outline: none;
        border: 1px solid #9e9e9e;
    }
}

.input-label {
    position: absolute;
    background-color: #fff;
    font-size: 1.6rem;
    color: #a3a3a3;
    font-weight: 600;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
    top: 2px;
    right: 30px;
    z-index: 10;
}

.upload-img-area {
    height: 92px;
    border: 1px dashed #9e9e9e;
    margin: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;

    button {
        background-color: #3f51b5;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 10px 16px;
        border: none;
        outline: none;
        border-radius: 4px;
        margin-right: 8px;
        cursor: pointer;
    }

    p {
        font-size: 1.4rem;
        color: #a3a3a3;
        font-weight: 600;
    }
}

.w100 {
    width: 100%;
}

.footer {
    margin-left: 14px;
}

.submit-btn {
    cursor: pointer;
    background-color: #e0e0e0;
    color: #8b8b8b;
}

.cancel-btn {
    background-color: #f44336;
    color: #fffcff;
}

.cancel-btn,
.submit-btn {
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    margin-right: 8px;
    border-radius: 8px;
}

.file-input {
    display: none;
}

.wrapper::-webkit-scrollbar {
    display: block;
    width: 6px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
