.wrapper {
    position: fixed;
    width: 260px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #f2f4f9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.side-bar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
}

.company-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.company-name {
    font-size: 2.4rem;
    font-weight: 600;
}

.user-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.user-name {
    color: #060606;
    font-size: 1.4rem;
    font-weight: 600;
}

.user-role {
    font-size: 1.1rem;
    font-weight: 600;
}

.navigation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: calc(100vh - 220px);
    overflow: auto;
}

.nav-group {
    width: 100%;
}

.nav-group-header {
    margin-left: 23px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    padding: 15px 0;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
}

.navigation-container::-webkit-scrollbar {
    display: none;
}

.navigation-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.navigation-container::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
