.wrapper {
    background-color: #ecf0f4;
    width: 100%;
    padding: 0 25px;
    height: calc(100vh - 61px);
    overflow: auto;
}

.container {
}

.structure-item {
    margin-bottom: 30px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
