.wrapper {
    background-color: #ecf0f4;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    height: calc(100vh - 61px);
    overflow: auto;
}

.container {
}

.mt-16 {
    margin-top: 16px;
}

.wrapper::-webkit-scrollbar {
    display: block;
    width: 6px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
